.display {
    background: #086344;
    border: 1px solid #086344;
    width: 373px;
    height: 100px;
    background: #086344;
    color: green;
    font-weight: 100;
    font-size: 64px;
    padding: 32px 14px;
    text-align: right;
}