.display {
    border: 1px solid #979797;
    width: 454px;
    height: 126px;
    background: #222222;
    color: white;
    font-weight: 100;
    font-size: 64px;
    padding: 32px 14px;
    text-align: right;
}