.cal-container {
    margin: 10px 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #979797;
    box-shadow: 1px 1px 10px #979797, -1px -1px 10px #979797;
}

.btn-container {
    display: flex;
}

.blur {
    filter: blur(4px);
}